---
import H2 from "../ui/basics/h2.astro";
import Titlehr from "../ui/basics/titlehr.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../ui/elements/projectCard.astro";
import PrimaryButton from "../ui/basics/PrimaryButton.astro";

const projects = await getCollection("projects");

// Filtrar proyectos destacados y ordenarlos por fecha
const featuredProjects = projects
  .filter(project => project.data.featured && project.data.date) // Filtrar con fecha y destacados
  .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
  .slice(0, 4);
---

<section class="flex flex-col items-center justify-between w-full min-h-screen p-4 space-y-8 lg:mt-24">
  <!-- Título de la sección -->
  <section class="text-center">
    <H2 class="mb-4">Mis proyectos</H2>
    <Titlehr/>
  </section>
  
  <!-- Texto minimalista con diseño elegante -->
  <section class="flex items-center justify-center px-4 py-8">
    <p class="max-w-3xl text-lg font-medium leading-relaxed text-center text-neutral-600 dark:text-light-300">
      Proyectos desarrollados con atención al detalle, aplicando prácticas modernas de diseño y desarrollo web para ofrecer soluciones innovadoras y efectivas.
    </p>
  </section>

  <!-- Botón centrado -->
  <section class="flex items-center justify-center">
    <a href="/projects" aria-label="Ver más proyectos de Joël Arnaud Carreras">
      <PrimaryButton>mis proyectos</PrimaryButton>
    </a>
  </section>
  
  <!-- Contenedor principal con flexbox y responsive -->
  <main class="grid grid-cols-1 gap-8 max-w-7xl md:p-8">
    {
      featuredProjects.map((project) => {
        const { slug, data } = project;
        const { title, imageUrl, description } = data;
        const status = data.status || [];
        const tools = data.tools || [];
        return (
          <section class="flex justify-center h-full">
            <ProjectCard
              title={title}
              imageUrl={imageUrl}
              slug={slug}
              tools={tools}
              description={description}
              status={status}
            />
          </section>
        );
      })
    }
  </main>

</section>